#addpersonnel-body{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
#addpersonnel-top{
    display: flex;
    align-items: center;
    height: 14vw;
}
#addpersonnel-closebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3579f6;
    margin-left: 4vw;
    font-size: 7vw;
}
hr {
    margin: 0;
}

#addpersonnel-title{
    font-family: 'PretendardMedium';
    text-align: center;
    font-size: 5.5vw;
    /* 옆 상관없이  전체 가운데 정렬 */
    margin-left: 29vw;
}
#addpersonnel-input{
    padding-top: 5vw;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 140vw;
}

#addpersonnel-input input {
    border: none;
    border-bottom: 0.3vw solid rgb(172, 172, 172);
    font-family: 'PretendardLight';
    outline: none;
    background: none;
    font-size: 4.5vw;
    font-family: 'PretendardRegular';
}

#addpersonnel-input input:focus {
    border-bottom: 0.3vw solid #2150b2; 
}

#addpersonnel-input-title{
    font-family: 'PretendardLight';
    font-size: 4vw;
}

#clientName, #partnerCompany, #position, #name, #purpose, #callNumber{
    width: 80vw;
}

#addpersonnel-input-entryday-flex{
    display: flex;
    width: 80vw;

}

#addpersonnel-entrybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PretendardMedium';
    font-size: 5vw;
    color: #ffffff;
    height: 10vw;
    margin: 0 auto;
    margin-top: 5vw;
    border-radius: 2vw;
    height: 15vw;
    /* position: fixed; */
    width: 90%;
    left: 5%;
    bottom: 5%;
    z-index: 3;
}
#entryDate{
    display: flex;
    justify-content: space-between;
    width: 38vw;
    font-family: 'PretendardLight';
    font-size: 4.5vw;
    border-bottom: 0.3vw solid rgb(172, 172, 172);
    margin-right: 4vw;
}
#entryTime{
    display: flex;
    justify-content: space-between;
    font-family: 'PretendardLight';
    font-size: 4.5vw;
    width: 38vw;
    border-bottom: 0.3vw solid rgb(172, 172, 172);
}
#addpersonnel-prevButton-body{
    width: 80vw;
    display: flex;
    justify-content: right;
}
#addpersonnel-prevButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c87e4;
    width: 47vw;
    color: #ffffff;
    border-radius: 5vw;
    padding: 1vw;
    margin-bottom: 2vw;
}
#addpersonnel-prevButton-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}
#addpersonnel-prevButton-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PretendardLight';
    font-size: 4vw;
}