#datemodal-background{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.2);
}

#datemodal-body{
    margin: 0 auto;
    position: fixed;
    bottom: 2%;
    left: 2%;
    width: 96%;
    height: 80vw;
    background-color: #ffffff;
    border-radius: 8vw;
    z-index: 100;
}
#datemodal-title p{
    font-family: 'PretendardMedium';
    font-size: 6vw;
    padding-left: 5vw;
    margin: 3vw 0;
}
#datemodal-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PretendardMedium';
    font-size: 5vw;
    color: #ffffff;
    height: 15vw;
    margin: 0 auto;
    border-radius: 2vw;
    position: fixed;
    width: 90%;
    left: 5%;
    bottom: 5%;
    background-color: #2150b2;
}
#datemodal-date{
    display: flex;
    justify-content: space-evenly;
    width: 65vw;
    margin: 3vw auto;
}

.scroll-container {
    overflow-y: scroll;
    height: 35vw;
    margin: 0 2vw;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    text-align: center;
  }
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-item {
    font-family: 'PretendardRegular';
    padding: 2vw 0;
    font-size: 6.5vw;
    color: gray;
    cursor: pointer;
  }
  
  .scroll-item.selected {
    font-weight: bold;
    color: #1f1f1f;
  }
  