#deletemodal-background{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.2);
}
#deletemodal-body{
    margin: 0 auto;
    position: fixed;
    top: 40%;
    left: 10%;
    right: 10%;
    width: 70vw;
    height: 32vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#deletemodal-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 70vw;
    height: 20vw;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

#deletemodal-title{
    font-family: 'PretendardMedium';
    font-size: 5vw;
    text-align: center;
}
#deletemodal-text{
    font-family: 'PretendardMedium';
    font-size: 4vw;
    text-align: center;
}
#deletemodal-bottom{
    width: 70vw;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    display: flex;
    border-top: 0.5vw solid rgb(218, 218, 218);
    font-family: 'PretendardMedium';
}
#deletemodal-canclebutton{
    width: 35vw;
    height: 12vw;
    background-color: #ffffff;
    border-right: 0.5vw solid rgb(218, 218, 218);
    border-bottom-left-radius: 4vw;
    text-align: center;
    line-height: 12vw;
    color: rgb(29, 68, 243);
}
#deletemodal-confirmbutton{
    width: 35vw;
    height: 12vw;
    background-color: #ffffff;
    border-bottom-right-radius: 4vw;
    text-align: center;
    line-height: 12vw;
    color: rgb(29, 68, 243);

}
